<ul class="list-unstyled no-list-style list-inline list-socials">
	<li class="social-facebook">
		<a href="https://www.facebook.com/TinkerTankAU/" target="_blank">
			<i class="fa fa-facebook" aria-hidden="true"></i>
		</a>
	</li>
	<li class="social-twitter">
		<a href="https://twitter.com/tinkertankedu" target="_blank">
			<i class="fa fa-twitter" aria-hidden="true"></i>
		</a>
	</li>
	<!-- <li class="social-google-plus"><a href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
	<li class="social-instagram">
		<a href="https://www.instagram.com/tinkertank_au/" target="_blank">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		</a>
	</li>
	<!-- <li class="social-rss"><a href="{{@blog.url}}/rss/" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li> -->
	<li class="social-youtube">
		<a href="https://www.youtube.com/channel/UCWqD5v_w2v8NE4J6JLD7UQg" target="_blank">
			<i class="fa fa-youtube-play" aria-hidden="true"></i>
		</a>
	</li>
	<li class="contact-phone">
		<a href="tel://1300%20670%20104">
			<i class="fa fa-phone" aria-hidden="true"></i>
		</a>
	</li>
	<li class="contact-map">
		<a href="https://www.google.com.au/maps/place/TinkerTank/@-33.7977035,151.2855574,17z/data=!3m1!4b1!4m5!3m4!1s0x6b12ab0f14930cff:0xb1cf20f0398f8516!8m2!3d-33.7977035!4d151.2877461">
			<i class="fa fa-map-marker" aria-hidden="true"></i>
		</a>
	</li>
	<li class="contact-intercom">
		<a href="#" onclick="Intercom('showNewMessage')">
			<i class="fa fa-question" aria-hidden="true"></i>
		</a>
	</li>
</ul>
